body {
    background-color: rgb(191, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.resultados {
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: left;

}
.tabla {
    justify-content: center;
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}


/*estilos para los selectores */
.panel-selectores {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #f0f2f5;
    min-height: 10vh;
    border-radius: 12px;
}

.paneles {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    align-items: flex-end;
}

.tarjeta {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tarjeta label {
    font-size: 0.85rem;
    font-weight: 700;
    color: #4a5568;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.tarjeta select {
    padding: 10px;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    background-color: #f8fafc;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tarjeta select:hover {
    border-color: #3182ce;
}

/* Estilo para el botón de acción */
.control-actions {
    flex: 0;
}

.btn-primary {
    background-color: #3182ce;
    color: white;
    padding: 11px 25px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
}

.btn-primary:hover {
    background-color: #2b6cb0;
}

/* Contenedor del gráfico */
.contenedor-grafico {
    background: #00000000;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.084);
}

.tarjeta button {
    background-color: #3182ce;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
}
.tarjeta input {
    padding: 10px;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    background-color: #f8fafc;
    font-size: 1rem;
}
